<button class="nav-link @ClassName" id="v-pills-@Id-tab" data-bs-toggle="pill" data-bs-target="#v-pills-@Id"
    type="button" role="tab" aria-controls="v-pills-@Id" aria-selected="true">@Name</button>


@code {
    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? ClassName { get; set; }

}