<div class="tab-pane fade show @ClassName" id="v-pills-@Id" role="tabpanel" aria-labelledby="v-pills-@Id-tab">
    @ChildContent
</div>


@code {

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? ClassName { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }


}